CREATE OR ALTER PROCEDURE dbo.sp_AddReview @patientId INT, @doctorId INT, @rating INT, @comment NVARCHAR(1000) AS BEGIN SET NOCOUNT ON; IF NOT EXISTS(SELECT 1 FROM dbo.Doctors WHERE id = @doctorId) BEGIN SELECT -2 AS success, 'Doctor not found' AS message; RETURN; END IF EXISTS(SELECT 1 FROM dbo.Reviews WHERE patient_id = @patientId AND doctor_id = @doctorId) BEGIN SELECT -3 AS success, 'You have already reviewed this doctor' AS message; RETURN; END IF NOT EXISTS(SELECT 1 FROM dbo.Appointments WHERE patient_id = @patientId AND doctor_id = @doctorId AND status = 'completed') BEGIN SELECT -4 AS success, 'You can only review doctors after a completed appointment' AS message; RETURN; END INSERT INTO dbo.Reviews (patient_id, doctor_id, rating, comment) VALUES (@patientId, @doctorId, @rating, @comment); DECLARE @newId INT = SCOPE_IDENTITY(); UPDATE dbo.Doctors SET reviews = (SELECT COUNT(*) FROM dbo.Reviews WHERE doctor_id = @doctorId), rating = ISNULL((SELECT CAST(AVG(CAST(rating AS DECIMAL(10,2))) AS DECIMAL(10,1)) FROM dbo.Reviews WHERE doctor_id = @doctorId), 0.0) WHERE id = @doctorId; SELECT @newId AS success, 'Review submitted successfully' AS message; END
